
<div class="list-group" id="leader_list">
  
  <% @leaders.each do |leader| %>
    
      <%= link_to leader.name, leader_profile_path(:leader_id => leader.id), :class=>"list-group-item" ,remote: true %>
    
  <% end %>

</div>