<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">


<h1>Editing leader</h1>

<%= render 'form' %>

<%= link_to 'Show', @leader %> |
<%= link_to 'Back', indexedit_path %>


  </div>
</div>
</div>