
<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2" id="myTab_roles">
    
    <ul class="nav nav-tabs" role="tablist">
      <li> <%= link_to 'Servant Team', tabs_path(:my_param => "Servant Team"), remote: true %> </li>
      <li><%= link_to 'Small Group Leader', tabs_path(:my_param => "Small Group Leader"), remote: true %></li>
      <li><%= link_to 'Activity', tabs_path(:my_param => "Activity"), remote: true %></li>
    </ul>
    
    <div id="leader_tabs">
      
      
      <div class="panel panel-default">
        <div class="panel-body">
      <div>
        <h1> Meet our Leaders </h1>
        <br />
        <p> Choose a tab above to get more information about our leaders for this year! </p>
        <br />
      </div>
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="<%=@leaders_page_link%>"></iframe>
      </div>
      
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="col-md-4 col-md-offset-0">
    <div id="leader_profile" >
      
      
    </div>
  </div>
  
</div>

</div>