<div class="container">

<div class="row">
  <div class="col-md-12 col-md-offset-0">
  
  <div class="panel panel-default">
  <div class="panel-body">




<h1>Editing prayer_time</h1>

<%= render 'form' %>

<%= link_to 'Show', @prayer_time %> |
<%= link_to 'Back', prayer_times_path %>




  </div>
  </div>
  </div>
</div>
</div>

