
<h3> Juniors Present: <%= @Juniors_present.count%> </h3>
  <% @Juniors_present.each do |student| %>
    <%= link_to student.name, destroy_attendance_path(event_id: @event.id, student_id: student.id), method: :delete, remote: true, class: "btn btn-success #{student.id}" %> 
  <% end %>