  <% @Sophomores.each do |student| %>
  
  <% if @students.where(id: student.id).blank? %>
  
      <%= form_for(@attendance, remote: true) do |f| %>

      <div class="field">
        <%= f.hidden_field :student_id, :value => student.id%>
      </div>
      <div class="field">
        <%= f.hidden_field :event_id, :value => @event.id %>
      </div>
      <div class="actions">
        <%= f.submit student.name, class:"btn btn-primary #{student.id}"%>
      </div>
    <% end %>
  <% end %>
  <% end %>