<div class="container">

<div class="row">
  <div class="col-md-5 col-md-offset-2">
  
  
    <div class="panel panel-default">
       <!-- Default panel contents -->
      <div class="panel-body">
        <h1> Prayer Meetings </h1>
        <br />
        <p>Join us at the following times as we come together in prayer.</p>
        <p> We pray for different topics every week ranging from our lives and coursework to Nashville and beyond! </p>
        <p> Feel free to contact our Prayer Coordinator for more information. </p>
      </div>

  <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
      </ul>
    </div>
  
  
  
  
  
  
  </div>
</div>
</div>