<div class="container">

<div class="row">
  <div class="col-md-12 col-md-offset-0">
  
  <div class="panel panel-default">
  <div class="panel-body">




<h1>Editing small_group</h1>

<%= render 'form' %>

<%= link_to 'Show', @small_group %> |
<%= link_to 'Back', small_groups_path %>


  </div>
  </div>
  </div>
</div>
</div>