
<% if @static_text_theme_title == "Theme for this year:"%>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @static_text_theme_title %></h3>
    </div>
    <div class="panel-body">
      <%= @static_text_theme %>
    </div>
  </div>
<% end %>


<% if @static_text_vision_title == "Vision Statement for this year:" %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @static_text_vision_title %></h3>
    </div>
    <div class="panel-body">
      <%= @static_text_vision %>
    </div>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose Statement: AACF</h3>
  </div>
  <div class="panel-body">
  
    <p> As Asian-American Christian Fellowship, our purpose is to embrace and share the excitement of being totally committed to Jesus Christ. </p>
    
    <ul>
      <li> Receiving grace, forgiveness, and healing in discovering our unique	self-identity and relationships with our families. </li>
      <li> Gain confidence and discover our giftedness and our ability to lead others both Asian and Non-Asian. </li>
      <li> Provide Asian Christian perspective concerning issues such as racial reconciliation, local/global issues, and social justice. </li>
      <li> Equipping ourselves to love and serve others on campus, in church, and in our community. </li>
    </ul>
    
  </div>
</div>