




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basis of Faith</h3>
  </div>
  <div class="panel-body">

    <p> The only true God, the almighty Creator of all things, 
existing eternally in three persons– 
Father, Son, and Holy Spirit–full of love and glory.</p>

    <p> The unique divine inspiration, 
entire trustworthiness 
and authority of the Bible.</p>
    
    <p> The value and dignity of all people: 
created in God's image to live in love and holiness, 
but alienated from God and each other because of our sin and guilt, 
and justly subject to God’s wrath.</p>
    
    <p> Jesus Christ, fully human and fully divine, 
who lived as a perfect example, 
who assumed the judgment due sinners by dying in our place, 
and who was bodily raised from the dead and ascended as Savior and Lord.</p>
    
    <p> Justification by God's grace to all who repent 
and put their faith in Jesus Christ alone for salvation.</p>
    
    <p> The indwelling presence and transforming power of the Holy Spirit, 
who gives to all believers a new life and a new calling to obedient service.</p>
    
    <p> The unity of all believers in Jesus Christ, 
manifest in worshiping and witnessing churches 
making disciples throughout the world.</p>
    
    <p> The victorious reign and future personal return of Jesus Christ, 
who will judge all people with justice and mercy, 
giving over the unrepentant to eternal condemnation 
but receiving the redeemed into eternal life.</p>
    
    <p> To God be glory forever.</p>
    <p> Adopted by the InterVarsity Board of Trustees </p>
    <p> October 20, 2000</p>



  </div>
</div>