




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Purpose Statement: IVCF</h3>
  </div>
  <div class="panel-body">
    <p> In response to God's love, grace, and truth: <p>
    
    <p> The purpose of InterVarsity Christian Fellowship/USA is to establish and advance at colleges and universities witnessing communities of students and faculty who follow Jesus as Savior and Lord. Growing in love for: </p>
    
    <ul>
      <li> God, </li>
      <li> God's Word, </li>
      <li> God's people of every ethnicity & culture, </li>
      <li> and God's purposes in the world. </li>
    </ul>
  </div>
</div>