<div class="container">

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
  <div class="panel panel-default">
  <div class="panel-body">



<h1>Editing upcoming_event</h1>

<%= render 'form' %>

<%= link_to 'Show', @upcoming_event, class: "btn btn-info" %> |
<%= link_to 'Back', upcoming_events_path, class: "btn btn-primary" %>




  </div>
  </div>
  </div>
</div>
</div>