/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  

  $font-family-base: "Open Sans";
  
  $headings-font-family: "Bree Serif";
  
  $navbar-height: 65px;
  
  $transparent: rgba(0,0,0,0);
  
  $translucent: rgba(255,255,255,0.2);
  
  $translucent-black: rgba(0,0,0,0.15);
  
  $translucent-blacker: rgba(0,0,0,0.3);
  
  $translucent-blackest: rgba(0,0,0,0.35);
  
  $white: rgba(255,255,255,1);
  
  $body-bg: $transparent;
  
  $panel-bg: $translucent-black;

  $navbar-default-link-color: white;
  
  $text-color: darken(white,2%);
  
  $nav-tabs-border-color: $transparent;
  
  $navbar-default-bg: $translucent-black;
  
  $list-group-bg: $translucent-black;
  
  $list-group-link-color: darken(white,2%);
  
  $well-bg: darken($translucent-black,1%);
  
  a.btn:visited { color: darken(white,2%); }
  
  $dropdown-bg: $translucent-blacker;
  
  $dropdown-link-hover-bg: $translucent-blackest;
  
  $table-bg-hover: $translucent-blacker;




@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";