#user_email, #user_password, #user_password_confirmation{
	color: black;
}

#contact_name, #contact_email, #contact_message{
	color: black;
}

#leader_position, #leader_name, #leader_major, #leader_hometown, #leader_email, #leader_strange_fact, #leader_interests, #leader_img_url, #leader_past_positions, #leader_post_grad_email{
	color: black;
}

#static_text_title, #static_text_body{
	color: black;
}

#upcoming_event_title, #upcoming_event_description, #upcoming_event_location, #upcoming_event_img_url, #upcoming_event_event_time_1i, #upcoming_event_event_time_2i, #upcoming_event_event_time_3i, #upcoming_event_event_time_4i, #upcoming_event_event_time_5i{
	color: black;
}

#small_group_leaders, #small_group_img_url, #small_group_location, #small_group_weekday, #small_group_topic, #small_group_topic, #small_group_contact, #small_group_leaders_note_1, #small_group_leaders_note_2, #small_group_leaders_note_3, #small_group_event_time_4i, #small_group_event_time_5i{
	color: black;
}

#large_group_weekday, #large_group_location, #large_group_description, #large_group_img_url, #large_group_event_time_4i, #large_group_event_time_5i{
	color: black;
}

#carousel_item_img_url, #carousel_item_description{
	color: black;
}

#prayer_time_location, #prayer_time_weekday, #prayer_time_img_url, #prayer_time_event_time_4i, #prayer_time_event_time_5i{
	color: black;
}

#event_name, #event_location, #event_event_type, #event_event_date_1i, #event_event_date_2i, #event_event_date_3i, #event_event_date_4i, #event_event_date_5i{
	color: black;
}

#student_name, #student_graduation_year, #student_email{
	color: black;
}

#attendance_student_id, #attendance_event_id, #attendance_comment{
	color: black;
}
