#user_email, #user_password, #user_password_confirmation{
	color: black;
}

#contact_name, #contact_email, #contact_message{
	color: black;
}

#leader_position, #leader_name, #leader_major, #leader_hometown, #leader_email, #leader_strange_fact, #leader_interests, #leader_img_url, #leader_past_positions, #leader_post_grad_email{
	color: black;
}

#static_text_title, #static_text_body{
	color: black;
}