.navbar-nav > li{
  padding-left:10px;
  padding-right:20px;
  font-family: "Open Sans";
}

.navbar-default {
    background-color: transparent !important;
}

.navbar-default a:hover{
	border-bottom: 3px solid;
}

$translucent-black: rgba(0,0,0,0.1);

.nav-tabs{
    background-color: $translucent-black !important;
}

.nav-tabs a{
    color: white !important;
}

.list-group-item a:hover{
	background-color: black !important;
}

.dropdown a{
	color: darken(white,2%) !important;
}