.profile-image {
	height: auto;
 	width: 200px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .sample-image {
	height: auto;
 	width: 50px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
}

 .sample-carousel-image {
	height: 50px;
 	width: auto;
 	display: block;
    margin-left: auto;
    margin-right: auto;        
 }
 
  .event-image {
	height: auto;
 	width: 150px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 
   .prayer-image {
	height: auto;
 	width: 400px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
   .large-group-image {
	height: auto;
 	width: 400px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
    .small-group-image {
	height: auto;
 	width: 400px;
 	display: block;
    margin-left: auto;
    margin-right: auto;
 }